## Contexto do Problema

O investidor James Bauer gostaria de diversificar seus negócios e começar a investir em imóveis. Ele definiu que compraria imóveis na cidade de Nova York, nos Estados Unidos. Por ser um dos locais mais caros para se viver no País, ele acredita que obterá um retorno satisfatório de seus investimentos caso loque imóveis na cidade. Como todas as suas decisões são tomadas com base em dados, ele contratou você, cientista de dados, para ajudá-lo nessa empreitada.

James Bauer planeja inicialmente locar os imóveis adquiridos e por isso ele definiu que irá utilizar a plataforma Airbnb para esse fim. Para isso, ele lhe entregou uma base de dados públicos da empresa, contendo os dados do comportamento dos hosts e de seus imóveis.

Lembrando que o contexto, pessoas e perguntas são completamente fictícios e existem somente na minha imaginação.

## O Desafio

James Bauer o contratou para realizar o estudo da base de dados fornecida e ajudá-lo com a escolha das regiões onde há maior locação e maiores preços, e que fiquem em regiões favoráveis da cidade de Nova York, pois ele acredita que essas características irão ajudá-lo a recuperar o dinheiro investido na aquisição desses imóveis mais rapidamente.

Dessa forma, seu trabalho é realizar uma análise exploratória e responder às seguintes perguntas feitas pelo Sr. James Bauer:

1. Qual o `id` do imóvel com o aluguel (diária) mais caro da base de dados?
2. Qual o `id` do imóvel com o aluguel (diária) mais barato da base de dados?
3. Qual o `id` do imóvel que foi mais locado da base de dados?
4. Qual o `id` do imóvel que ficou mais tempo com o anúncio disponível, em
dias, para locação na base de dados?
5. Qual o `id` do imóvel que ficou menos tempo com o anúncio disponível, em
dias, para locação na base de dados?
6. O imóvel com o maior valor de aluguel (diária) da base de dados é o imóvel
que possui mais avaliações na base de dados?
7. O imóvel que possui a menor quantidade mínima de diárias para locação é
também o imóvel que possui o aluguel mais caro?
8. Qual é a média do número mínimo de diárias para locação de um imóvel? 
9. Qual é o `id` do imóvel com a menor quantidade mínima de diárias para locação da base de dados?
10. Qual é o `id` do host que possui o imóvel mais alugado na base de dados?
11. Qual é o `id` do host que possui o imóvel menos alugado na base de dados?
12. Qual é o `id` do host que possui o imóvel com mais avaliações na base de
dados?
13. Qual é o `id` do host que possui a maior quantidade de imóveis cadastrados
na base de dados?
14. Qual o `id` do host que possui o imóvel com a última avaliação feita na base
de dados?
15. Qual o `id` do host que possui mais imóveis ativos dentro da base de dados?
16. O host que possui mais imóveis é o host que também possui mais
avaliações?
17. Qual é a categoria que mais possui imóveis dentro da base de dados?
18. Qual é a categoria que menos possui imóveis dentro da base de dados?
19. A região de Manhattan é a região que mais possui imóveis ativos para
locação, da categoria `Private room`?
20. Qual a categoria de imóvel que possui a maior média de tempo de
disponibilidade para serem locados da região do `Bronx`? Considere somente
imóveis ativos
21. Qual a categoria de imóvel ativo que possui o maior valor de aluguel (diária)
na região de `Manhattan`?
22. A categoria de imóvel `Private Room` é a categoria que fica mais tempo
disponível para locação?
23. Qual a categoria de imóvel que fica mais tempo disponível, na média, para
locação?
24. A categoria de imóvel que fica menos tempo disponível, na média, para
locação é a categoria que possui, em média, o menor aluguel (diária)?
25. A categoria de imóvel `Entire home/apt` é a categoria que possui, na média, o
maior valor de aluguel?
26. A categoria de imóvel `Entire home/apt` é a categoria que possui, na média,
menos locações?
27. A categoria de imóvel `Private Room` na região de `Manhattan`, na média, é
a categoria que possui o menor valor (diária) de locação, comparado as
outras categorias na mesma região?
28. Qual a região que possui a maior quantidade de imóveis?
29. Qual a região que possui a menor quantidade de imóveis?
30. A região que possui a maior quantidade de imóveis é também a região que
possui os imóveis mais locados?
31. Qual a região que possui a menor quantidade de imóveis locados dentro da
base de dados?
32. A região de `Manhattan` é a região que possui, na média, os maiores
aluguéis (diárias) dentro da base de dados?
33. A região de `Queens` é a região que possui, na média, os menores aluguéis
(diárias) dentro da base de dados?
34. Qual a região que possui, na média, os imóveis com os menores aluguéis
dentro da base de dados?
35. Qual a região que possui os imóveis que ficam, na média, menos tempo
disponíveis para aluguel? Ou seja, são alugados mais rápidos na média?
36. Qual o bairro possui a maior quantidade de imóveis ativos para locação?
37. Qual o bairro possui a menor quantidade de imóveis ativos para locação?
38. Qual bairro está o imóvel com o maior valor de aluguel?
39. Qual bairro está o imóvel com o menor valor de aluguel?
40. Qual região que possui o bairro com mais imóveis ativos disponíveis para
locação?
41. Qual região que possui o bairro com menos imóveis ativos disponíveis para
locação?
42. O Bairro `Upper West Side`, na região de `Manhattan`, é o bairro que possui,
na média, o maior aluguel dentro da base de dados?
43. Qual é o bairro que possui, na média, o aluguel mais caro da base de dados?
44. Qual o id do imóvel que possui a melhor rentabilidade da base de dados?
Levando em consideração o aluguel mais caro e imóvel mais rápido de
alugar? Utilize somente os imóveis que estejam ativos e que possuam pelo
menos uma avaliação. Utilize a seguinte fórmula para verificar qual o melhor
imóvel:

$$ 𝑟𝑒𝑛𝑡𝑎𝑏𝑖𝑙𝑖𝑑𝑎𝑑𝑒 = \frac{𝑝𝑟𝑖𝑐𝑒 * (𝑚𝑖𝑛𝑖𝑚𝑢𝑚\_𝑛𝑖𝑔ℎ𝑡𝑠 + 1) *  n𝑢𝑚𝑏𝑒𝑟\_𝑜𝑓\_𝑟𝑒𝑣𝑖𝑒𝑤𝑠}{ \sqrt{𝑎𝑣𝑎𝑖𝑙𝑎𝑏𝑖𝑙𝑖𝑡𝑦_365}} $$

45. Qual a região em que fica o melhor bairro para se adquirir um imóvel, visando
a melhor rentabilidade média? Utilize como métrica o índice criado na
questão anterior.
46. Qual a região em que fica o pior bairro para se adquirir um imóvel, visando a melhor rentabilidade média? Utilize como métrica o índice criado na questão 44.
47. Levando em conta o bairro encontrado na questão anterior, verifique qual é o
`id` do imóvel ativo que possui a pior rentabilidade desse bairro
48. Levando em conta o bairro da questão 45, verifique qual o `id` do imóvel ativo que possui a melhor rentabilidade desse bairro
49. Caso eu, investidor, compre o imóvel da questão anterior com um
investimento de U$ 1.000.000,00, quantas vezes eu teria que locá-lo para ter
o retorno do investimento feito? Utilize a fórmula abaixo para calcular o tempo
de retorno do investimento:

$$ 𝑟𝑒𝑡𝑢𝑟𝑛_𝑖𝑛𝑣𝑒𝑠𝑡𝑚𝑒𝑛𝑡 = \frac{𝑖𝑛𝑣𝑒𝑠𝑡𝑚𝑒𝑛𝑡}{𝑝𝑟𝑖𝑐𝑒 * (𝑚𝑖𝑛𝑖𝑚𝑢𝑚\_𝑛𝑖𝑔ℎ𝑡𝑠 + 1)} $$

50. Se eu desejasse comprar um imóvel que esteja ativo e com pelo menos uma avaliação em um dos bairros abaixo, qual seria o `id` do imóvel com a melhor rentabilidade dentre esses bairros? Utilize o índice calculado na questão 44.
  * East Harlem
  * Harlem
  * Midtown
  * Morningside Heights
  * Upper West Side
  * Upper East Side

## Os Dados

O conjunto de dados que representam o contexto está disponível na plataforma do Kaggle. O link para acesso aos dados :

https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data

## Solução do Desafio

### Imports de Bibliotecas

In [1]:
from IPython.display import Image
import pandas as pd
import numpy as np
from matplotlib import pyplot
from math import sqrt

### Leitura do Arquivo

In [2]:
data = pd.read_csv("datasets/AB_NYC_2019.csv")

### Entendimento dos dados

In [3]:
data.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [4]:
data.shape

(48895, 16)

In [5]:
data.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [6]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### Tratamento dos Dados Faltantes

In [3]:
data['reviews_per_month'] = data['reviews_per_month'].fillna(0)
data['last_review'] = data['last_review'].fillna('1900-01-01')
data['last_review'] = pd.to_datetime(data['last_review'])

In [4]:
data = data.sort_values('id', ascending=True).reset_index(drop=True)

#### Respondendo as Perguntas do Investidor

##### 1. Qual o `id` do imóvel com o aluguel (diária) mais caro da base de dados?

In [35]:
#max price and min id
data[data['price'] == data['price'].max()]['id'].min()

7003697

##### 2. Qual o `id` do imóvel com o aluguel (diária) mais barato da base de dados?

In [122]:
df02 = data[data['price'] != 0]
df02[df02['price'] == df02['price'].min()]['id'].min()

1620248

##### 3. Qual o `id`  do imóvel que foi mais locado da base de dados?

In [57]:
#house with more reviews and min id
data[data['number_of_reviews'] == data['number_of_reviews'].max()]['id'].min()

9145202

##### 4. Qual o `id`  do imóvel que ficou mais tempo com o anúncio disponível, em dias, para locação na base de dados?

In [58]:
#max availability and min id
data[data['availability_365'] == data['availability_365'].max()]['id'].min()

2539

##### 5. Qual o `id` do imóvel que ficou menos tempo com o anúncio disponível, em dias, para locação na base de dados?

In [61]:
#min availability and min id
data[data['availability_365'] == data['availability_365'].min()]['id'].min()

5022

##### 6. O imóvel com o maior valor de aluguel (diária) da base de dados é o imóvel que possui mais avaliações na base de dados?

In [69]:
#house more expansive and house with more reviews
houseidpricemax = data[data['price'] == data['price'].max()]['id'].min()
houseidreviewmax = data[data['number_of_reviews'] == data['number_of_reviews'].max()]['id'].min()

#comparing ids
houseidpricemax == houseidreviewmax

False

##### 7. O imóvel que possui a menor quantidade mínima de diárias para locação é também o imóvel que possuí o aluguel mais caro?

In [79]:
#house with min nights and house with max price
houseidminnights = data[data['minimum_nights'] == data['minimum_nights'].min()]['id'].min()
houseidmaxprice = data[data['price'] == data['price'].max()]['id'].min()

#comparing ids
houseidmaxprice == houseidminnights

False

##### 8. Qual é a média do número mínimo de diárias para locação de um imóvel?

In [123]:
round(data['minimum_nights'].mean(),2)

7.03

##### 9. Qual é o `id` do imóvel com a menor quantidade mínima de diárias para locação da base de dados?

In [96]:
#house with min nights and min id
data[data['minimum_nights'] == data['minimum_nights'].min()]['id'].min()

2539

##### 10. Qual é o `id` do host que possui o imóvel mais alugado na base de dados?

In [90]:
#host id from the house with more reviews - probably be the house more rented
data[data['number_of_reviews'] == data['number_of_reviews'].max()]['host_id'].min()

47621202

##### 11. Qual é o `id` do host que possui o imóvel menos alugado na base de dados?

In [136]:
df11 = data[data['number_of_reviews'] != 0]

df11_1 = df11[df11['number_of_reviews'] == df11['number_of_reviews'].min()]

df11_1[df11_1['id'] == df11_1['id'].min()]['host_id'].min(0)

82685

##### 12. Qual é o `id` do host que possui o imóvel com mais avaliações na base de dados?

In [90]:
#host id from the house with more reviews
data[data['number_of_reviews'] == data['number_of_reviews'].max()]['host_id'].min()

47621202

##### 13. Qual é o `id` do host que possui a maior quantidade de imóveis cadastrados na base de dados?

In [98]:
#host with more houses in the dataset
data[data['calculated_host_listings_count'] == data['calculated_host_listings_count'].max()]['host_id'].min()

219517861

##### 14. Qual o `id` do host que possui o imóvel com a última avaliação feita na base de dados?

In [138]:
df14 = data[data['last_review'] == data['last_review'].max()]
df14[df14['id'] == df14['id'].min()]['host_id'].min()

526653

##### 15. Qual o `id` do host que possui mais imóveis ativos dentro da base de dados?

In [63]:
#new dataframe only with houses available 
df15 = data[data['availability_365'] != 0]

#grouping by host_id  and sorting
df15hosts = df15[['id', 'host_id']].groupby('host_id').count().sort_values('id', ascending=False).reset_index()

#host with more houses available
hostidmorehouses = df15hosts[df15hosts['id'] == df15hosts['id'].max()]['host_id'].min()
hostidmorehouses

219517861

##### 16. O host que possui mais imóveis é o host que também possui mais avaliações?

In [298]:
#new dataframe grouped by hostid and sum of reviews
df16 = data[['number_of_reviews', 'host_id']].groupby('host_id') \
                                             .sum() \
                                             .sort_values('number_of_reviews', ascending= False).reset_index()

#host with more reviews in the dataset
hostidmorereviews = df16[df16['number_of_reviews'] == df16['number_of_reviews'].max()]['host_id'].min()

#comparting ids
display(hostidmorehouses == hostidmorereviews)

display(pd.merge(df16, df15hosts, on='host_id', how='inner'))

False

         host_id  number_of_reviews  id
0       37312959               2273   5
1         344035               2205  12
2       26432133               2017   5
3       35524316               1971  11
4       40176101               1818   7
...          ...                ...  ..
21804  140997060                  0   1
21805   24373940                  0   1
21806  140961117                  0   1
21807   24520756                  0   1
21808  274321313                  0   1

[21809 rows x 3 columns]

##### 17. Qual é a categoria que mais possui imóveis dentro da base de dados?

In [177]:
#new dataframe grouped by room type and counting
df17 = data[['id', 'room_type']].groupby('room_type').count().sort_values('id', ascending=False).reset_index()

#type with more houses in the dataset
df17[df17['id'] == df17['id'].max()]['room_type'].min()

'Entire home/apt'

##### 18. Qual é a categoria que menos possui imóveis dentro da base de dados?

In [178]:
#type with less houses in the dataset
df17[df17['id'] == df17['id'].min()]['room_type'].min()

'Shared room'

##### 19. A região de `Manhattan` é a região que mais possui imóveis ativos para locação, da categoria `Private room`?

In [64]:
#new dataframe grouping by neighbourhood and couting - Only Prive Rooms
df19 = df15[df15['room_type'] == 'Private room']\
                                        [['id', 'neighbourhood_group']].groupby('neighbourhood_group') \
                                        .count().sort_values('id', ascending=False) \
                                        .reset_index()

#region with more private room
regionmoreprivetroom = df19[df19['id'] == df19['id'].max()]['neighbourhood_group'].min()

#comparting result
display(regionmoreprivetroom == 'Manhattan')

display(df19)

False

  neighbourhood_group    id
0            Brooklyn  5880
1           Manhattan  4782
2              Queens  2586
3               Bronx   546
4       Staten Island   171

##### 20. Qual a categoria de imóvel que possui a maior média de tempo de disponibilidade para serem locados da região do `Bronx`? Considere somente imóveis ativos

In [228]:
#new dataframe grouping by room type and availability mean
df20 = df15[df15['neighbourhood_group'] == 'Bronx']\
                                        [['availability_365', 'room_type']].groupby('room_type') \
                                        .mean().sort_values('availability_365', ascending=False) \
                                        .reset_index()

#room type with max availability mean in the dataset
df20[df20['availability_365'] == df20['availability_365'].max()]['room_type'].min()

'Private room'

##### 21. Qual a categoria de imóvel ativo que possui o maior valor de aluguel (diária) na região de `Manhattan`?

In [236]:
df21 = df15[df15['neighbourhood_group'] == 'Manhattan']\
                                        [['price', 'room_type']].groupby('room_type') \
                                        .max().sort_values('price', ascending=False) \
                                        .reset_index()

df21[df21['price'] == df21['price'].max()]['room_type'].min()

'Entire home/apt'

##### 22. A categoria de imóvel “Private Room“ é a categoria que fica mais tempo disponível para locação?

In [68]:
df22 = data[['availability_365', 'room_type']].groupby('room_type').mean() \
                                                            .sort_values('availability_365', ascending=False)\
                                                            .reset_index()

typemoreavailable = df22[df22['availability_365'] == df22['availability_365'].max()]['room_type'].min()
display(typemoreavailable == 'Private room')

display(df22)

False

         room_type  availability_365
0      Shared room        162.000862
1  Entire home/apt        111.920304
2     Private room        111.203933

##### 23. Qual a categoria de imóvel que fica mais tempo disponível, na média, para locação?

In [261]:
df23 = data[['availability_365', 'room_type']].groupby('room_type').mean()\
                                                            .sort_values('availability_365', ascending=False) \
                                                            .reset_index()

df23[df23['availability_365'] == df23['availability_365'].max()]['room_type'].min()

'Shared room'

##### 24. A categoria de imóvel que fica menos tempo disponível, na média, para locação é a categoria que possuí, em média, o menor aluguel (diária)?

In [337]:
df24_1 = data[['availability_365', 'room_type']].groupby('room_type').mean()\
                                                            .sort_values('availability_365', ascending=False) \
                                                            .reset_index()

typelessavailable = df24_1[df24_1['availability_365'] == df24_1['availability_365'].min()]['room_type'].min()

df24_2 = data[['price', 'room_type']].groupby('room_type').mean()\
                                                            .sort_values('price', ascending=False) \
                                                            .reset_index()

typelessexpansive = df24_2[df24_2['price'] == df24_2['price'].min()]['room_type'].min()


display(typelessavailable == typelessexpansive)
display(pd.merge(df24_1, df24_2, how='inner', on='room_type'))

False

         room_type  availability_365       price
0      Shared room        162.000862   70.127586
1  Entire home/apt        111.920304  211.794246
2     Private room        111.203933   89.780973

##### 25. A categoria de imóvel `Entire home/apt` é a categoria que possui, na média, o maior valor de aluguel?

In [354]:
df25 = data[['price', 'room_type']].groupby('room_type').mean()\
                                                            .sort_values('price', ascending=False) \
                                                            .reset_index()

typemoreexpansive = df25[df25['price'] == df25['price'].max()]['room_type'].min()

display(typemoreexpansive == 'Entire home/apt')
display(df25)

True

         room_type       price
0  Entire home/apt  211.794246
1     Private room   89.780973
2      Shared room   70.127586

##### 26. A categoria de imóvel `Entire home/apt` é a categoria que possui, na média, menos locações?

In [335]:
df26 = data[['number_of_reviews', 'room_type']].groupby('room_type').mean()\
                                                             .sort_values('number_of_reviews', ascending=False)\
                                                             .reset_index()

typelesslocated = df26[df26['number_of_reviews'] == df26['number_of_reviews'].min()]['room_type'].min()

display(typelesslocated == 'Entire home/apt')
display(df26)

False

         room_type  number_of_reviews
0     Private room          24.112962
1  Entire home/apt          22.842418
2      Shared room          16.600000

##### 27. A categoria de imóvel `Private Room` na região de Manhattan, na média, é a categoria que possui o menor valor de locação, comparado as outras categorias na mesma região?

In [334]:
df27 = data[data['neighbourhood_group'] == 'Manhattan']\
                                        [['price', 'room_type']].groupby('room_type') \
                                        .mean().sort_values('price', ascending=False) \
                                        .reset_index()

typelessmeanpricemanhattan = df27[df27['price'] == df27['price'].min()]['room_type'].min()

display(typelessmeanpricemanhattan == 'Private room')
display(df27)

False

         room_type       price
0  Entire home/apt  249.239109
1     Private room  116.776622
2      Shared room   88.977083

##### 28. Qual a região que possui a maior quantidade de imóveis?

In [333]:
df28 = data[['id', 'neighbourhood_group']].groupby('neighbourhood_group').count().sort_values('id', ascending=False)\
                                                                         .reset_index()

display(df28[df28['id'] == df28['id'].max()]['neighbourhood_group'].min())
display(df28)

'Manhattan'

  neighbourhood_group     id
0           Manhattan  21661
1            Brooklyn  20104
2              Queens   5666
3               Bronx   1091
4       Staten Island    373

##### 29. Qual a região que possui a menor quantidade de imóveis?

In [355]:
df29 = data[['id', 'neighbourhood_group']].groupby('neighbourhood_group').count().sort_values('id', ascending=False)\
                                                                         .reset_index()

display(df29[df29['id'] == df29['id'].min()]['neighbourhood_group'].min())
display(df29)

'Staten Island'

  neighbourhood_group     id
0           Manhattan  21661
1            Brooklyn  20104
2              Queens   5666
3               Bronx   1091
4       Staten Island    373

##### 30. A região que possui a maior quantidade de imóveis é também a região que possui os imóveis mais locados?

In [351]:
df30_1 = data[['id', 'neighbourhood_group']].groupby('neighbourhood_group').count().sort_values('id', ascending=False)\
                                                                         .reset_index()

regionmorehouses = df30_1[df30_1['id'] == df30_1['id'].max()]['neighbourhood_group'].min()

df30_2 = data[['number_of_reviews', 'neighbourhood_group']].groupby('neighbourhood_group').sum()\
                                                         .sort_values('number_of_reviews', ascending=False)\
                                                         .reset_index()

regionmorelocated = df30_2[df30_2['number_of_reviews'] == df30_2['number_of_reviews'].max()]['neighbourhood_group'].min()


display(regionmorehouses == regionmorelocated)
display(pd.merge(df30_1, df30_2, on='neighbourhood_group', how='inner'))

False

  neighbourhood_group     id  number_of_reviews
0           Manhattan  21661             454569
1            Brooklyn  20104             486574
2              Queens   5666             156950
3               Bronx   1091              28371
4       Staten Island    373              11541

##### 31. Qual a região que possui a menor quantidade de imóveis locados dentro da base de dados?

In [353]:
df31 = data[['number_of_reviews', 'neighbourhood_group']].groupby('neighbourhood_group').sum()\
                                                         .sort_values('number_of_reviews', ascending=False)\
                                                         .reset_index()

df31[df31['number_of_reviews'] == df31['number_of_reviews'].min()]['neighbourhood_group'].min()

'Staten Island'

##### 32. A região de `Manhattan` é a região que possui, na média, os maiores aluguéis (diárias) dentro da base de dados?

In [362]:
df32 = data[['price','neighbourhood_group']].groupby('neighbourhood_group').mean()\
                                            .sort_values('price', ascending=False)\
                                            .reset_index()

regionmaxmeanprice = df32[df32['price'] == df32['price'].max()]['neighbourhood_group'].min()

display(regionmaxmeanprice == 'Manhattan')
display(df32)

True

  neighbourhood_group       price
0           Manhattan  196.875814
1            Brooklyn  124.383207
2       Staten Island  114.812332
3              Queens   99.517649
4               Bronx   87.496792

##### 33. A região de `Queens` é a região que possui, na média, os menores aluguéis (diárias) dentro da base de dados?

In [363]:
df33 = data[['price','neighbourhood_group']].groupby('neighbourhood_group').mean()\
                                            .sort_values('price', ascending=False)\
                                            .reset_index()

regionminmeanprice = df33[df33['price'] == df33['price'].min()]['neighbourhood_group'].min()

display(regionminmeanprice == 'Queens')
display(df33)

False

  neighbourhood_group       price
0           Manhattan  196.875814
1            Brooklyn  124.383207
2       Staten Island  114.812332
3              Queens   99.517649
4               Bronx   87.496792

##### 34. Qual a região que possui, na média, os imóveis com os menores aluguéis dentro da base de dados?

In [364]:
df34 = data[['price','neighbourhood_group']].groupby('neighbourhood_group').mean()\
                                            .sort_values('price', ascending=False)\
                                            .reset_index()

display(df34[df34['price'] == df34['price'].min()]['neighbourhood_group'].min())

'Bronx'

##### 35. Qual a região que possui os imóveis que ficam, na média, menos tempo disponíveis para aluguel? Ou seja, são alugados mais rápidos na média?

In [375]:
df35 = data[['availability_365', 'neighbourhood_group']].groupby('neighbourhood_group').mean() \
                                                        .sort_values('availability_365', ascending=False) \
                                                        .reset_index()

display(df35[df35['availability_365'] == df35['availability_365'].min()]['neighbourhood_group'].min())
display(df35)

'Brooklyn'

  neighbourhood_group  availability_365
0       Staten Island        199.678284
1               Bronx        165.758937
2              Queens        144.451818
3           Manhattan        111.979410
4            Brooklyn        100.232292

##### 36. Qual o bairro possui a maior quantidade de imóveis ativos para locação?

In [383]:
df36 = df15[['id', 'neighbourhood']].groupby('neighbourhood').count().sort_values('id', ascending=False)\
                                    .reset_index()

display(df36[df36['id'] == df36['id'].max()]['neighbourhood'].min())
display(df36.head(5))

'Bedford-Stuyvesant'

        neighbourhood    id
0  Bedford-Stuyvesant  2482
1        Williamsburg  2052
2              Harlem  1734
3            Bushwick  1449
4      Hell's Kitchen  1446

##### 37. Qual o bairro possui a menor quantidade de imóveis ativos para locação?

In [481]:
df37_1 = df15[['id', 'neighbourhood']].groupby('neighbourhood').count().sort_values('id', ascending=True)\
                                    .reset_index()

df37_2 = df15[['id', 'neighbourhood']].groupby('neighbourhood').min().sort_values('id', ascending=True)\
                                    .reset_index()

df37_3 = pd.merge(df37_1, df37_2, on='neighbourhood', how='inner', suffixes=('_count', '_min'))

df37_4 = df37_3[df37_3['id_count'] == df37_3['id_count'].min()].sort_values('id_min', ascending=True).reset_index(drop=True)

display(df37_4[df37_4['id_min'] == df37_4['id_min'].min()]['neighbourhood'].min())
display(df37_4)

'Silver Lake'

    neighbourhood  id_count    id_min
0     Silver Lake         1   8343222
1    Richmondtown         1  12966225
2  Fort Wadsworth         1  20305160
3       Rossville         1  26258351
4     Willowbrook         1  27088022

##### 38. Qual bairro está o imóvel com o maior valor de aluguel?

In [120]:
df38_1 = data[['price', 'id','neighbourhood']].groupby(['neighbourhood', 'id']).max().sort_values('price', ascending=False)\
                                    .reset_index()

df38_2 = df38_1[df38_1['price'] == df38_1['price'].max()].sort_values('id', ascending=True)

display(df38_2[df38_2['id'] == df38_2['id'].min()]['neighbourhood'].min())

display(df38_2.head())

'Astoria'

     neighbourhood        id  price
0          Astoria   7003697  10000
2       Greenpoint  13894339  10000
1  Upper West Side  22436899  10000

##### 39. Qual bairro está o imóvel com o menor valor de aluguel?

In [139]:
df39 = data[data['price'] != 0]

df39_1 = df39[['price', 'id','neighbourhood']].groupby(['neighbourhood', 'id']).min().sort_values('price', ascending=False)\
                                    .reset_index()

df39_2 = df39_1[df39_1['price'] == df39_1['price'].min()].sort_values('id', ascending=True)

display(df39_2[df39_2['id'] == df39_2['id'].min()]['neighbourhood'].min())

display(df39_2)

'East Village'

            neighbourhood        id  price
48872        East Village   1620248     10
48870              Harlem  17437106     10
48881            Bushwick  17952277     10
48875                SoHo  17979764     10
48882             Jamaica  18490141     10
48868     Upper East Side  18835820     10
48883      Hell's Kitchen  19415314     10
48869          Greenpoint  21869057     10
48877     Upper West Side  24114389     10
48880            Kips Bay  24412104     10
48874         Sunset Park  25839759     10
48871             Jamaica  26235873     10
48873        Williamsburg  26496645     10
48878          Highbridge  27316669     10
48867           Woodhaven  28071998     10
48876  Bedford-Stuyvesant  28270998     10
48879            Bushwick  35642891     10

##### 40. Qual região que possui o bairro com mais imóveis ativos disponíveis para locação?

In [521]:
df40 = df15[['id', 'neighbourhood_group', 'neighbourhood']].groupby(['neighbourhood_group', 'neighbourhood']).count()\
                                                           .sort_values('id', ascending=False).reset_index()
display(df40[df40['id'] == df40['id'].max()]['neighbourhood_group'].min())
display(df40.head(5))

'Brooklyn'

  neighbourhood_group       neighbourhood    id
0            Brooklyn  Bedford-Stuyvesant  2482
1            Brooklyn        Williamsburg  2052
2           Manhattan              Harlem  1734
3            Brooklyn            Bushwick  1449
4           Manhattan      Hell's Kitchen  1446

##### 41. Qual região que possui o bairro com menos imóveis ativos disponíveis para locação?

In [238]:
df41 = data[data['availability_365'] != 0]
df41_1 = df41[['id','neighbourhood_group', 'neighbourhood']].groupby(['neighbourhood_group','neighbourhood']).count()\
                                                           .sort_values('id', ascending=True).reset_index()

bairros41 = df41_1[df41_1['id'] == df41_1['id'].min()]['neighbourhood'].unique().tolist()

df41_2 = filtraBairros(df41, bairros41)
df41_2[df41_2['id'] == df41_2['id'].min()]['neighbourhood_group'].min()

'Staten Island'

##### 42. O Bairro `Upper West Side`, na região de `Manhattan`, é o bairro que possui, na média, o maior aluguel dentro da base de dados?

In [22]:
#checking if there is another neighbourhood with the same name
data[data['neighbourhood'] == 'Upper West Side']['neighbourhood_group'].unique()

#creating new dataframe and grouping by neighbourhood and mean price
df42 = data[['price', 'neighbourhood']].groupby('neighbourhood').mean().sort_values('price', ascending=False).reset_index()

#neighbourhood with higher mean price
neighbourhoodmaxmeanprice = df42[df42['price'] == df42['price'].max()]['neighbourhood'].min()

#checking result
display(neighbourhoodmaxmeanprice == 'Upper West Side')
display(df42.head(5))

False

    neighbourhood       price
0  Fort Wadsworth  800.000000
1         Woodrow  700.000000
2         Tribeca  490.638418
3        Sea Gate  487.857143
4       Riverdale  442.090909

##### 43. Qual é o bairro que possui, na média, o aluguel mais caro da base de dados?

In [27]:
df43 = data[['price', 'neighbourhood']].groupby('neighbourhood').mean().sort_values('price', ascending=False).reset_index()

df43[df43['price'] == df43['price'].max()]['neighbourhood'].min()

'Fort Wadsworth'

##### 44. Qual o `id` do imóvel que possui a melhor rentabilidade da base de dados? Levando em consideração o aluguel mais caro e imóvel mais rápido de alugar?  Utilize somente os imóveis que estejam ativos e que possuam pelo menos uma avaliação.

Utilize a seguinte fórmula para verificar qual o melhor imóvel:

$$ rentability = \frac{price * (minimoum\_nights + 1) * number\_of\_reviews}{\sqrt{availability\_365}} $$

In [171]:
df44 = data[(data['availability_365'] != 0) & (data['number_of_reviews'] > 0)].reset_index(drop=True)

df44['rentability'] = np.nan

for i in range(len(df44)):
    df44.loc[i, 'rentability'] = \
                (df44.loc[i, 'price']*(df44.loc[i, 'minimum_nights']+1)*df44.loc[i, 'number_of_reviews'])\
                /sqrt(df44.loc[i, 'availability_365'])
    
df44[df44['rentability'] == df44['rentability'].max()]['id'].min()

2154075

##### 45. Qual a região em que fica o melhor bairro para se adquirir um imóvel, visando a melhor rentabilidade média? Utilize como métrica o índice criado na questão anterior.

In [90]:
df45 = df44[['rentability', 'neighbourhood', 'neighbourhood_group']].groupby(['neighbourhood_group','neighbourhood'])\
                                                             .mean().sort_values('rentability', ascending=False)\
                                                             .reset_index()

display(df45[df45['rentability'] == df45['rentability'].max()]['neighbourhood_group'].min())
display(df45.head(5))

'Manhattan'

  neighbourhood_group      neighbourhood   rentability
0           Manhattan   Roosevelt Island  14897.288433
1           Manhattan             Nolita   7499.068618
2           Manhattan            Tribeca   7120.669828
3           Manhattan  Greenwich Village   6139.157036
4           Manhattan            Chelsea   6064.488392

##### 46. Qual a região em que fica o pior bairro para se adquirir um imóvel, visando a melhor rentabilidade média? Utilize como métrica o índice criado na questão 44.

In [89]:
df46 = df44[['rentability', 'neighbourhood', 'neighbourhood_group']].groupby(['neighbourhood_group','neighbourhood'])\
                                                             .mean().sort_values('rentability', ascending=True)\
                                                             .reset_index()

display(df46[df46['rentability'] == df46['rentability'].min()]['neighbourhood_group'].min())
display(df46.head(5))

'Staten Island'

  neighbourhood_group  neighbourhood  rentability
0       Staten Island        Oakwood    32.544242
1              Queens    Little Neck    56.392666
2               Bronx     West Farms    73.942433
3              Queens   Breezy Point    87.051252
4       Staten Island  Port Richmond   142.422744

##### 47. Levando em conta o bairro encontrado na questão anterior, verifique qual é o `id` do imóvel ativo que possui a pior rentabilidade desse bairro

In [102]:
df47 = df44[df44['neighbourhood'] == 'Oakwood']

df47[df47['rentability'] == df47['rentability'].min()]['id'].min()

34396747

##### 48. Levando em conta o bairro da questão 45, verifique qual o `id` do imóvel ativo que possui a melhor rentabilidade desse bairro

In [175]:
df48 = df44[df44['neighbourhood'] == 'Roosevelt Island']

df48[df48['rentability'] == df48['rentability'].max()]['id'].min()

3979611

##### 49. Caso eu, investidor, compre o imóvel da questão anterior com um investimento de U\$ 1.000.000,00, quantas vezes eu teria que locá-lo para ter o retorno do investimento feito? Utilize a fórmula abaixo para calcular o tempo de retorno do investimento

$$ return\_investment = \frac{investment}{price * (minimum\_nights + 1)} $$

In [176]:
df49 = df44[df44['id'] == 3979611]
investiment = 1000000

return_investment = investiment / (df49['price'] * (df49['minimum_nights'] + 1))
return_investment

3632    7.849294
dtype: float64

##### 50. Se eu desejasse comprar um imóvel que esteja ativo e com pelo menos uma avaliação em um dos bairros abaixo, qual seria o `id` do imóvel com a melhor rentabilidade dentre esses bairros? Utilize o índice calculado na questão 44.

* East Harlem
* Harlem
* Midtown
* Morningside Heights
* Upper West Side
* Upper East Side

In [32]:
neighbourhoods = ['East Harlem', 'Harlem', 'Midtown', 'Morningside Heights', 'Upper West Side', 'Upper East Side']

def filtraBairros (df, lista):
    return df.loc[df['neighbourhood'].isin(lista)]

In [188]:
df50 = filtraBairros(df44, neighbourhoods).reset_index(drop=True)

df50_2 = df50[df50['availability_365'] !=0][['rentability','id','neighbourhood']].groupby(['neighbourhood', 'id']).max()\
                                          .sort_values('rentability', ascending=False).reset_index()

display(df50_2[df50_2['rentability'] == df50_2['rentability'].max()]['id'].min())

display(df50_2.head())

5240711

     neighbourhood        id    rentability
0          Midtown   5240711  310182.009472
1  Upper East Side  12855469  239673.704661
2  Upper East Side  19721906  236251.730152
3           Harlem   3098703  194435.504191
4  Upper West Side    664047  191731.296636